<section class="avengers">
<section class="banner"> Avengers </section>
    <img class="fit-to-window" src="../../assets/images/avengers.jpg" alt="Smiley face">
</section>

<section class="age-of-ultron">
        <section class="banner"> Age Of Ultron </section>
    <img class="fit-to-window" src="../../assets/images/ageOfUltron.jpg" alt="Smiley face">
        
    </section>

    <section class="infinity-war">
            <section class="banner"> Infinity War </section>
        <img class="fit-to-window" src="../../assets/images/infinityWar.jpg" alt="Smiley face">
        </section>